.fade-in-section {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s ease;
  will-change: opacity, transform;
}

.fade-in-section.is-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
